.car-description {
  width: 100%;
  display: grid;
  gap: 0.5rem;
}

@media (min-width: 1000px) {
  .car-description {
    width: 60%;
  }
}

.description-price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

.description-row {
  justify-content: space-between;
  align-items: center;
}

.description-table {
  display: grid;
  gap: 0.5rem;
}

.btn-reserve {
  margin-top: 0.5rem;
  height: 3rem;
  cursor: pointer;
  background: var(--clr-secondary-100);
  border: 1px solid var(--clr-secondary-900);

  border-radius: 10px;
  transition: all 300ms;
}

@media (min-width: 1000px) {
  .btn-reserve {
    margin-top: 1.5rem;
  }
}

.btn-reserve:hover,
.btn-reserve:focus-visible {
  color: var(--clr-primary);
  background-color: var(--clr-secondary-900);
}
