.picker-container {
 min-width: min(81.25rem, 90%);
}

.section-title {
  max-width: 40rem;
  margin-inline: auto;
  text-align: center;
}

.section-picker {
  display: flex;
}


.models {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

.fleet {
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);

}

.fleet-option {
  font-size: var(--fs-400);
  color: rgba(var(--clr-secondary-rgb-900), 0.7);
}

