*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --ff-default: "Rubik", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 600;
  --fw-black: 700;

  --fs-200: 0.625rem;
  --fs-250: 0.8125rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-650: 1.625rem;
  --fs-700: 1.75rem;
  --fs-900: 2.5rem;

  --clr-primary-rgb: 70, 244, 151;
  --clr-secondary-rgb-100: 255, 255, 255;
  --clr-secondary-rgb-800: 20, 17, 21;
  --clr-secondary-rgb-900: 0, 0, 0;

  --clr-primary: rgb(var(--clr-primary-rgb));
  --clr-secondary-100: rgb(var(--clr-secondary-rgb-100));
  --clr-secondary-900: rgb(var(--clr-secondary-rgb-900));
  --clr-secondary-800: rgb(var(--clr-secondary-rgb-800));

  --clr-star: #fc2f2f;
}

/* Utility classes */

.flex-group {
  display: flex;
}

body {
  font-family: var(--ff-default);
  font-weight: var(--fw-regular);
  font-size: var(--fs-400);
  color: var(--clr-secondary-900);
}

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

@media (max-width: 600px) {
  :root {
    --fs-600: 1.25rem;
    --fs-900: 2rem;
  }
}
